body
{
    background-color: black;
    min-width: 950px;
}

.pageContainer
{
    display: grid;

    grid-template-areas: 
        "header header"
        "nav main";

    grid-template-columns: 275px 1fr;
    grid-template-rows: auto 1fr;

    height: 100vh;
}

header
{
    grid-area: header;
}

.sidebar
{
    grid-area: nav;
    background-color: lightgray;
    border-right: #343a40 3px solid;
    padding-top: 10px;
}

main
{
    grid-area: main;
    background-color: gray;
    padding: 15px;
}

.itemContainer
{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: auto;
    justify-content: center;

    row-gap: 15px;
    column-gap: 15px;
}

.item
{
    background-color: white;
    text-align: center;
    border-radius: 5px;
    box-shadow: black 3px 3px 3px;
    height: 300px;

    min-width: 300px;

    display: grid;

    grid-template-areas: 
        "picture picture picture"
        "name name price"
        "cartForm cartForm cartForm";

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4fr 1fr 1fr;
}

.itemName
{
    grid-area: name;
    background-color: lightgray;
    font-weight: bolder;
    border-right: black solid 1px;
}

.itemImage
{
    grid-area: picture;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    border-radius: 5px 5px 0px 0px;

}

.itemPrice
{
    grid-area: price;
    padding: 12px;
    font-weight: bolder;
    background-color: lightgray;
}

.itemCartForm
{
    grid-area: cartForm;
    border-radius: 0px 0px 5px 5px;
    background-color: lightgray;
    border-top: black solid 1px;
}

.itemQty
{
    margin-top: 10px;
    margin-right: 10px;
}

#logoutButton
{
    display: none;
}

#usernameLabel
{
    display: none;
    color: white;
    font-size: 20px;
    margin: 0;
}

#filterHeader
{
    margin-left: 10px;
}

.sidebarHeader
{
    font-weight: bolder;
}

ul
{
    list-style: none;
}

#headerUL
{
    margin-top: 10px;
}

.filterReset
{
    font-weight: lighter;
    font-size: smaller;
    display: none;
    cursor: pointer;
}

.home-style
{
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}

.btn-style
{
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    box-shadow: black 3px 3px 3px;
}
