body
{
    background-color: black;
    min-width: 900px;
}

.pageContainer
{
    display: grid;

    grid-template-areas: 
        "header header"
        "nav main";

    grid-template-columns: 275px 1fr;
    grid-template-rows: auto 1fr;

    height: 100vh;
}

header
{
    grid-area: header;
}

.sidebar
{
    grid-area: nav;
    background-color: lightgray;
    border-right: #343a40 3px solid;
}

main
{
    grid-area: main;
    background-color: gray;
    padding: 15px;
}

.itemContainer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;

    row-gap: 15px;
    column-gap: 15px;
}

.item
{
    background-color: white;
    text-align: center;
    border-radius: 5px;
    box-shadow: black 3px 3px 3px;
    height: 300px;

    min-width: 300px;

    display: grid;

    grid-template-areas: 
        "picture picture"
        "price addToCart";

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}

.itemImage
{
    grid-area: picture;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    border-radius: 5px 5px 0px 0px;

}

.itemPrice
{
    grid-area: price;
    border-radius: 0px 0px 0px 5px;

    /* temp - to show div boundry */
    background-color: lightskyblue;
}

.itemCartForm
{
    grid-area: addToCart;
    border-radius: 0px 0px 5px 0px;

    /* temp - to show div boundry */
    background-color: lightgreen;
}

#logoutButton
{
    display: none;
}

#usernameLabel
{
    display: none;
    color: white;
    font-size: 20px;
    margin: 0;
}