body
{
    background-color: black;
    min-width: 950px;
}

.pageContainer
{
    display: grid;

    grid-template-areas: 
        "header header"
        "main main";

    grid-template-columns: fill;
    grid-template-rows: auto 1fr;

    height: 100vh;
}

header
{
    grid-area: header;
}

main
{
    grid-area: main;
    background-color: gray;
    padding: 10px;
}

#logoutButton
{
    display: none;
}

#usernameLabel
{
    display: none;
    color: white;
    font-size: 20px;
    margin: 0;
}

.home-style
{
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}

.btn-style
{
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    box-shadow: black 3px 3px 3px;
}