body
{
    background-color: black;
    min-width: 950px;
}

.pageContainer
{
    display: grid;

    grid-template-areas: 
        "header header"
        "main main";

    grid-template-columns: fill;
    grid-template-rows: auto 1fr;

    height: 100vh;
}

header
{
    grid-area: header;
}

main
{
    grid-area: main;
    background-color: gray;
    padding-left: 50px;
    padding-right: 50px;

    display: grid;

    grid-template-areas: 
        "form totals";
    
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
}

#checkoutContainer
{
    grid-area: form;
    background-color: lightgray;
    box-shadow: -5px 0px 5px black;
    border-right: #343a40 3px solid;
}

#totalsContainer
{
    grid-area: totals;
    background-color: lightgray;
    box-shadow: 5px 0px 5px black;

}

#logoutButton
{
    display: none;
}

#usernameLabel
{
    display: none;
    color: white;
    font-size: 20px;
    margin: 0;
}

.home-style
{
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}

.btn-style
{
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    box-shadow: black 3px 3px 3px;
}