body
{
    background-color: black;
    min-width: 950px;
}

.pageContainer
{
    display: grid;

    grid-template-areas: 
        "header header"
        "main main";

    grid-template-columns: fill;
    grid-template-rows: auto 1fr;

    height: 100vh;
}

header
{
    grid-area: header;
}

main
{
    grid-area: main;
    background-color: gray;
    padding: 10px;

    display: grid;

    grid-template-areas: 
        "carousel"
        "allItems";

    grid-template-columns: 1fr;
    grid-template-rows: minmax(500px, 80vh) 75px;

    row-gap: 10px;
    column-gap: 10px;
}

.carouselContainer
{
    grid-area: carousel;

    background-color: white;
    border-radius: 5px;
    box-shadow: black 3px 3px 3px;
}

.allItemsContainer
{
    grid-area: allItems;

    text-align: center;
    border-radius: 5px;
    box-shadow: black 3px 3px 3px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding: 10px;
}

#logoutButton
{
    display: none;
}

#usernameLabel
{
    display: none;
    color: white;
    font-size: 20px;
    margin: 0;
}

.carouselBanner
{
    color: white;
    padding: 10px;
    font-weight: bolder;
    font-size: xx-large;
    width: 250px;
    margin: auto;
    text-shadow: 2px 2px 2px black;
    box-shadow: black 3px 3px 3px;
    cursor: pointer;
}

#carouselElement
{
    height: 80vh;
    min-height: 500px;
}

.carouselImage
{
    object-fit: contain;
    height: 80vh;
    min-height: 500px;
    cursor: pointer;
}

.carousel-control-prev-icon,
.carousel-control-next-icon
{
    filter: invert(60%);
}

#allItems
{
    text-shadow: 2px 2px 2px black;
    font-weight: bolder;
}

.carousel-indicators
{
    filter: invert(60%);   
}