body
{
    background-color: black;
    min-width: 900px;
}

.pageContainer
{
    display: grid;

    grid-template-areas: 
        "header header"
        "main main";

    grid-template-columns: fill;
    grid-template-rows: auto 1fr;

    height: 100vh;
}

header
{
    grid-area: header;
}

main
{
    grid-area: main;
    background-color: gray;
    padding: 10px;
}

.itemContainer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

    row-gap: 10px;
    column-gap: 10px;
}

.item
{
    background-color: lightgray;
    text-align: center;
    border-radius: 5px;
    box-shadow: black 3px 3px 3px;
    height: 300px;
}

#logoutButton
{
    display: none;
}

#usernameLabel
{
    display: none;
    color: white;
    font-size: 20px;
    margin: 0;
}